.button {
  background-color: #20df7f;
  color: white;
  font-size: 20px; /* Default font size */
  font-weight: bold;
  padding: 5px 9px; /* Default padding */
  border-radius: 12px;
  border: none;
  box-shadow: 0px 15px 10px -15px #111;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #00763b;
}

.button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.button:disabled:hover {
  background: #ccc;
}

/* Responsive adjustments */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .button {
    font-size: 18px; /* Slightly smaller font size */
    padding: 4px 8px; /* Adjust padding */
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .button {
    font-size: 16px; /* Even smaller font size for very small devices */
    padding: 3px 7px; /* Reduce padding */
  }
}

.custom-heading {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-family: "Times New Roman";
  font-weight: bolder;
  color: #e3052d;
  font-style: italic;
  text-shadow: 2px 2px #aaaaaa;
}

.custom-heading-p {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 37rem;
  margin-left: -4rem;
}

.custom-heading-p.animate::after {
  content: "";
  position: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Match the background to effectively "hide" the text initially */
  animation: revealText 3s ease forwards; /* Animation name, duration, easing, and fill mode */
}
.custom-heading-p:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
  background-color: #f8f8f8;
}

@keyframes revealText {
  from {
    left: 0;
    width: 100%;
  }
  to {
    left: 100%;
    width: 0;
  }
}
.singleContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #c50000;
}
.pager {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #9e9e9e;
  border-bottom: 1px solid #c50000;
}

.pdfcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 2rem;
  width: 100%;
  background-color: #9e9e9e;
  border: 1px solid #c50000;
}

.content {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  overflow-y: auto;
  max-height: 85vh;
  margin-bottom: 10px;
}
.content::-webkit-scrollbar {
  width: 0px;
}

.pdfscontent {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1rem 10rem;
}

.no-gap-row {
  margin-right: 0;
  margin-left: 0;
}

.no-gap-col {
  padding-right: 0;
  padding-left: 0;
}

.pdf-page-content {
  margin-bottom: 2rem;
}

.jump-to-page {
  width: 5rem;
  margin-left: 10px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c50000;
}